
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
font-family:Monotype Corsiva ; 

}
.navbar{
background-color: rgb(245, 176, 202);
font-weight: bold ;
font-family:Monotype Corsiva ; 

}

a{
color: rgb(232, 244, 253) !important;
font-size: 18px;
cursor: pointer;
font-family: Monotype Corsiva ; 
}
a:hover{
border-bottom:3px solid white !important;
color: white !important;

}
#hcolor{
color: white !important;
font-size: 22px;
border-bottom:3px solid white !important;

} 

a:hover{
text-decoration: none;
}
#bor{
border:none;
}
.sec1{
  margin-top: 70px ;
  
 
}
.carousel-myitem{
  background-image: linear-gradient(to top, black, black);
}
.carousel-myitem img{
  height: 90vh;
  width: 100%;
  opacity: 0.8;
}
.curselhead{
  color:white; 
  font-weight: bold;
  margin: 0px 550px 350px 0px;
  font-size: 70px;

}

#crusel{
  width: 100%;
  height: 60%;
 
}
.image-slider{
  padding: 0px !important;
  position: relative;
  
}

.new{
  margin: 50px 60px;
  font-weight: bold;
}
.sec2{
   height: 80vh;
   /* border: 1px solid black; */
   padding: 5px;
  width: 100%
}

.sec2img{
  width: 32%;
  height: 60vh;
  border-radius: 50%;
}

.sec2img:hover{
  width: 34%;
  height: 61vh;
}
.div1{
  width:100% ;
  /* border: 1px solid red; */
  /* margin: 10px; */
  display: flex;
  justify-content: center;
}
.div2{
  width:100% ;
  /* border: 1px solid blue;  */
   /* margin: 10px */
  
}

.robot{
   font-weight: bold;
   text-align: center;
   margin: 30px;

}
.borot{
  font-weight: bold;
  text-align: center;
}

.new2{
margin: 100px 0px ;
  width: 100% ;
  height: 70vh;
  display: flex;
  justify-content: center;
}
.newimg{
  width: 90% ;
  height: 70vh;
}

/* ////////////foooter///////// */


.footpara{
  font-family: Monotype Corsiva;
  font-weight: bold;
  font-size: 24px;
}


.myfooter {
  /* background: radial-gradient(#00272C,#000); */
  background-color: rgb(245, 176, 202);
  height: 50vh;
  margin-top: 100px;

  
}

.section6 {
  max-width: 90%;
  min-width: 90%;
  margin: auto;
}

.footer_top {
  padding: 20px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
 
}

.footer_top .foo-col1 {
  display: flex;
  flex-wrap: wrap;
  
}
.footer_top .foo-col1 img{
  margin-left: 10px;
}
.foo-col1 p {
  padding-left: 35px;
  display: flex;
 
}
.foo-col2,.foo-col4{
  display: flex;
  justify-content: end;
  margin-left:200px;
  align-items: end;
}
.foo-col2 ul,.foo-col3 ul{
list-style: none;
}
.foo-col2 ul li,.foo-col3 ul li{
  list-style: none;
  padding: 3px 0px;
  font-size: 18px;;
  }
  .foo-col2 i,.foo-col3 i{
      margin-right: 15px;
  }
.li_head{
  font-weight: bold;
  font-size: 20px;
  color: black;
  font-family: Monotype Corsiva ; 

}
.footer_bottom {
  color: black;
  border-top: 1px solid black;
  font-weight: bold;
 
  padding: 10px 0px;
  margin: auto 56px;
}
















@media only screen and (max-width:500px){
a{
  font-size: 14px;


}
#crusel{
  width: 100%;
  height: 50vh;
 
}
.sec2{
  height: 100vh;

 width: 100%
}
.sec2img{
  width: 60%;
  height: 60%;
}
.sec2img:hover{
  width: 62%;
  height: 62%;
}
.newimg{
  width: 100%;
  height: 40vh;
}
.new2{
  margin: -200px 0px  ;
}
.foo-col2,.foo-col4{
  display: flex;
  justify-content: end;
  margin-left: 0px;
  margin-right: 100px;
}
.myfooter{
  height: 85vh;
}


}
